{% extends "partials/base.html" %} {% load static %} {% block main %}

<main>
  <div class="mb-4 pb-4"></div>
  <section class="lookbook container">
    <h2 class="page-title">
      <span style="text-transform: capitalize"> Shop by</span> Categories
    </h2>
  </section>
  <section class="lookbook-collection">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex flex-column">
          <a
            href="/category"
            class="lookbook-collection__item position-relative flex-grow-1 mb-4 effect border-plus"
          >
            <div class="lookbook-collection__item-image">
              <img
                loading="lazy"
                src="{% static './images/cat-3/cat-01.jpeg' %}"
                width="690"
                height="399"
                alt=""
              />
            </div>
            <div
              class="content_abs content_bottom content_left content_bottom-md content_left-md"
            >
              <p class="text-uppercase mb-1 white-color"></p>
              <h3 class="white-color">Hydroponic Accessories</h3>
            </div>
          </a>
          <a
            href="/category"
            class="lookbook-collection__item position-relative flex-grow-1 mt-1 mb-4 effect border-plus"
          >
            <div class="lookbook-collection__item-image">
              <img
                loading="lazy"
                src="{% static './images/cat-3/cat-02.jpg' %}"
                width="690"
                height="399"
                alt=""
              />
            </div>
            <div
              class="content_abs content_bottom content_left content_bottom-md content_left-md"
            >
              <p class="text-uppercase mb-1 white-color"></p>
              <h3 class="white-color">Hydroponic Growing Systems</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="mb-5 pb-xl-5"></div>

{% endblock main %}
